body {
	margin: 0;
	color: #f8f8f8;
	background-color: #111111;
	font-family: 'Istok Web', sans-serif;
}
body::after { 	
	top: -2.5%;
	left: -2.5%;
	right: 0;
	bottom: 0;
	z-index: -1;
	content: "";
	width: 105%;
	height: 105%;
	display: block;
	position: fixed;
	-webkit-filter: grayscale(100%) blur(15px) brightness(50%);
    filter: grayscale(100%) blur(15px) brightness(50%); /* Чёрно-белое изображение */
	background-image: url(https://i1.wallbox.ru/wallpapers/main/201111/9dab633d43b15f04aaca165af610c417.jpg);
}
.nav {
	opacity: 0.7;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	background-color: #111111;
	z-index: 1;
}
.nav a {
	transition: 0.3s;
	color: #f8f8f8;
	font-size: 14px;
	font-weight: 900;
	padding: 20px 10px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
}
.nav a:hover {
	transition: 0.3s;
	color: #007aff;
}
.quote {
	font-family: 'Marck Script', cursive;
	text-align: center;
	font-size: 28px;
}
section {
	display: flex;
	min-height: 20vh;
	flex-direction: column;
	justify-content: center;
	padding-top: 60px;
}
.title {
	color: #f8f8f8;
	text-align: center;
	font-size: 38px;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
}
#about-a-link-section {
	text-align: center;
}
#about-a-link {
	font-size: 38px;
	text-decoration: none;
	color: #f8f8f8;
	font-family: 'Istok Web', sans-serif;
	transition: 1s;
}
#about-a-link:hover {
	color: #4b3aff;
	transition: 1s;
}
main {
	width: 90%;
	margin: auto;
}
.card {
	transition: 0.7;
	width: 400px;
	padding: 30px 10px;
	color: #111111;
	background-color: #f8f8f8;
	text-align: center;
	margin-top: 0;
	font-family: 'Istok Web', sans-serif;
	font-weight: 900;
	border-radius: 10px;
	margin: auto;
	transition: 1.5s;
	box-sizing: border-box;
}
.card:hover,
.card:hover #project-a-link {
	color: #0071aa;
	transition: 1s;
	transform: translateY(-20px);
}
#project-a-link {
	color: #111111;
	text-decoration: none;
	transition: 1s;
}
.contact-link {
	margin: 0 10px;
	font-size: 40px;
	text-decoration: none;
	color: white;
	transition: 1s;
}
#contacts {
	text-align: center;
}
.contact-link:hover {
	color: #65bbed;
}
#about-a-link {
	text-decoration: none;
	color: #111111;
	font-family: 'Istok Web', sans-serif;
	transition: 1s;
}
.card:hover,
.card:hover #about-a-link {
	color: #0071aa;
	transition: 1s;
	transform: translateY(-20px);
}
footer {
	text-align: center;
}
.nav {
  animation-duration: 1s;
  animation-name: transitionBless;
}
@keyframes transitionBless {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.7;
  }
}